body {
    background-color: #000000;
    font-family: Microsoft JhengHei;
    color: #d3d3d3;
}

.lgoin i {
    cursor: pointer;
    font-size: 60px;
}

.hide {
    display: none;
}

.menu a, a:after {
    text-decoration: none;
    color: #d3d3d3;
    padding-right: 20px;
}

    .menu a:hover {
        color: #42a7f0;
    }

.menu .m {
    padding-top: 10px;
}

.menu .d {
    padding-top: 4px;
    padding-left: 10px;
}

.data {
    vertical-align: top;
}

.copy {
    font-size: 10px;
    color: #acdbfd;
}
