body {
    background-color: #000000;
    font-family: Microsoft JhengHei;
    color: #d3d3d3;
}

table {
    border-collapse: collapse;
}

button {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #d3d3d3;
    padding: 3px 10px;
    cursor: pointer;
    margin-left: 3px;
}

    button:hover {
        color: #ff9c00;
        border-width: 2px;
    }

    button:active {
        border-color: #f6ad39;
    }

    button i {
        padding-right: 3px;
    }

.tabledata {
    padding-top: 10px;
    padding-bottom: 20px;
}

    .tabledata th {
        color: #000000;
        background-color: #808080;
    }

    .tabledata th, .tabledata td {
        padding-left: 2px;
        padding-right: 5px;
        border: 1px solid #f3f0f0;
        white-space: nowrap;
        text-align: left;
    }

    .tabledata tr:hover {
        border-color: #f6ad39;
        color: #f6ad39;
    }

    .tabledata .tds {
        background-color: #4d4545;
    }

.dvupdate {
    display: none;
}

    .dvupdate th {
        padding-right: 10px;
        padding-left: 13px;
        text-align: right;
        background-color: #787575;
        color: #dedede;
    }

    .dvupdate th, .dvupdate td {
        border-bottom: 1px solid #4d4545;
        padding-top: 10px;
    }

    .dvupdate div {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 15px;
    }

    .dvupdate button {
        background-color: #787575;
    }

.lgoin i {
    cursor: pointer;
    font-size: 60px;
}

.hide {
    display: none;
}

.copy {
    font-size: 10px;
    color: #acdbfd;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.menu {
    vertical-align: top;
}

    .menu a, a:after {
        text-decoration: none;
        color: #d3d3d3;
        padding-right: 20px;
    }

        .menu a:hover {
            color: #42a7f0;
        }

    .menu .m {
        padding-top: 10px;
    }

    .menu .d {
        padding-top: 4px;
        padding-left: 10px;
    }

.data {
    vertical-align: top;
}

.r {
    text-align: right;
}

.c {
    text-align: center;
}

.none {
    display: none;
}
