<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="robots" content="noindex,nofollow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width" />
<title>機車物語-極簡</title>
<link href="~/Content/images/icon.ico" rel="shortcut icon" />
<meta name="description" content="機車物語 2017090502" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/CssMain.css" rel="stylesheet" />